<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs'); %>
  <body style="padding-top: 70px; padding-bottom: 50px;">
  <%- include('../partials/navigation.ejs'); %>
  <%- include('../partials/banner.ejs'); %>
  <%- include('../partials/footer.ejs'); %>
  </body>
</html>
