<h1>Welcome to the Origin Code Academy Prep Program!</h1>

<p>Thanks for registering. We are glad you're here!</p>

<p>Follow the link below to complete your registration.</p>

<a href="<%= verifyHref %>">Verify</a>

<p>
  If you feel stuck at any point during the course,
  feel free to connect with fellow coders from the community on our dedicated
  <a href="https://join.slack.com/t/origincodeacademyprep/shared_invite/enQtMzYzMzMyNjczNjU0LWZmYjMyNjAwODZlNWNhNzkyMzlkMTM1Y2I0ODA3YjAxZjQwZDlkNzE3NjgxNDc3MGM3N2EwZjhjOGY0ZjM1ZGI">
    slack channel</a>.
</p>

<p>Thanks!</p>
<p>-The Team at Origin Code Academy</p>