<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs'); %>
<body style="padding-top: 70px;">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-57GFP4G"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <%- include('../partials/navigation.ejs'); %>
  <main class="jumbotron">
    <div class="video-wrap">
      <video poster="" playsinline autoplay muted loop>
          <source src="https://www.origincodeacademy.com/wp-content/uploads/2017/09/typing-of-codes-2833-1.mp4" type="video/mp4">
      </video>
    </div>
    <div class="content container">
      <h1>Welcome to Origin Code Academy</h1>
      <p>We’re excited to have you here! At Origin, our primary goal is to guide you through learning the
          fundamental building blocks of software development and kick-start your new career in the tech industry.
          On average, it would take you between 12-18 months to learn how to code on your own, whereas our
          classes can take 12 or 24 weeks. During this time, you’ll create habits that will make you a successful
          software developer, learn the programming languages that will get you a job, and dedicated instructors
          help you every step of the way.</p>
      </div>
  </main>
  <%- include('../partials/footer.ejs'); %>
</body>
</html>
