<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs'); %>
<body style="padding-top: 70px;">
  <%- include('../partials/navigation.ejs'); %>
  <main class="jumbotron">
    <div class="video-wrap">
      <video poster="" playsinline autoplay muted loop>
          <source src="https://www.origincodeacademy.com/wp-content/uploads/2017/09/typing-of-codes-2833-1.mp4" type="video/mp4">
      </video>
    </div>
    <div class="content container">
      <p>Whoops! This link has expired.</p>
      <p>Click <a href="/forgotPassword">here</a> to request another link.</p>
    </div>
  </main>
  <%- include('../partials/footer.ejs'); %>
</body>
</html>
